<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style2.css">
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
</head>
<body>
    <div id="container">
        <div id="innerContainer">
            <h1>Enter your email that you used for this account</h1>
            <form>
                <input type="text" placeholder="Input your email">
                <p>
                    <input type="submit" id="button" value="Send recovery link">
                </p>
            </form>
        </div>
        <div id="add">
            <p>Your add here</p>
        </div>
    </div>
</body>
</html>