body {
    margin: auto;
    text-align: center;
}

.profile-image-container {
    width: 90vw;
    height: 25vh;
    position: relative;
    text-align: center;
    align-content: center;
}

.back-picture {
    height: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 100%;
}

.profile-picture {
    left: 0;
    width: 75px;
    height: 75px;
    position: absolute;
    margin-bottom: 2%;
    margin-left: 2%;
    margin-top: 90%;
}



