<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>

    <link rel="stylesheet" href="profile.css">
</head>
<body>
<div>
    <div class="profile-image-container">
        <img src="ducks-mallard.jpg" class="back-picture">
        <img src="secondDuck.jpg" class="profile-picture">
        <h3>name</h3>
    </div>
    <div class="user-info">
        <ul>
        <li class="info-format">
            <h3>name</h3>
            <h5>Radina Mihaylova</h5>
        </li>
            <li class="info-format">
                <h3>more information</h3>
            </li>
        </ul>

    </div>
    <div class="user-pictures">
        <h3>pictures</h3>
        <ul>
            <li>
                <img src="">

            </li>
            <li>
                <img src="">

            </li>
        </ul>
    </div>
    <div class="post">
        <div class="post-info">
            <img src="" class="profile-picture">
            <h3>name</h3>
            <h5>date</h5>
            <h4>description</h4>
        </div>
        <ul class="post-images">
            <li>
                <img src="" class="image-url">
            </li>
        </ul>
        <div class="buttons">
            <form method="post" action="/like" class="like-button">
                <input type="submit">
            </form>
            <form method="post" action="/share" class="share-button">
                <input type="submit">
            </form>
        </div>
    </div>
</div>
</body>
</html>