<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>

    <link th:href="@{css/profile.css}" rel="stylesheet" />
</head>
<body>

<div>
    <div class="navbar">
        <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#news">News</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="#about">About</a></li>
            <a href="/search"><input type="text" placeholder="Search.."></a>
        </ul>
    </div>
    <div class="background-color">
        <div class="profile-image-container">
            <img src="ducks-mallard.jpg" class="back-picture">
            <a href="/changePicture"><img th:src="${profilePicture}" class="profile-picture"></a>
        </div>
    </div>
    <div class="information-form">
        <div class="user-info">
            <ul>
                <li class="info-format">
                    <h3>Name:</h3>
                    <h5></h5>
                    <h3>Birthday:</h3>
                    <h5>01/01/2004</h5>
                </li>
            </ul>
        </div>
        <div>
            <div class="user-info">
                <div class="pictures">
                    <h3>pictures</h3>
                    <ul>
                        <li>
                            <img src="">

                        </li>
                        <li>
                            <img src="">

                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="post">
        <div class="post-info">
            <img src="secondDuck.jpg" class="profile">
            <h3 class="name-position">name</h3>
            <h5 class="name-position">date</h5>
            <h4>description</h4>
        </div>
        <ul class="post-images">
            <li>
                <img src="" class="image-url">
            </li>
        </ul>
        <div class="buttons">
            <div class="like-button">
                <form method="post" action="/like" class="like">
                    <input type="submit" value="like"/>
                </form>
            </div>
            <div class="comment-button">
                <form method="post" action="/comment" class="comment-button">
                    <input type="submit" value="comment">
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>